body 
{background-color: darkcyan;
text-align: center;
border-image: auto;}

h1
{font-size: 50pt;
font-family: 'Lobster', cursive;}

h2
{font-size: 30pt;
font-family: 'Lobster', cursive;}

h3
{font-size: 25pt;
margin: 20px;
font-family: 'Lobster', cursive;}

p
{font-size: 20pt;
margin: 20px;
font-family: 'Open Sans', sans-serif;}

a
{font-family: 'Open Sans', sans-serif;}

body, html {
    height: 100%;
}

.banner {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("background.jpg");

  height: 100%;

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.banner-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

.button {
    background-color:rgba(0, 139, 139, 0.267);
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    -webkit-transition-duration: 0.4s; 
    transition-duration: 0.4s;
  }

.button:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);}

.button2 a {
    background-color:rgba(0, 139, 139, 0.267);
    border-radius: 25px;
    color: white;
    padding: 30px 64px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 32px;
    margin: 8px 4px;
    cursor: pointer;
    -webkit-transition-duration: 0.4s; 
    transition-duration: 0.4s;
    }
    
.button2 a:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);}

.banner2 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../styles/background.jpg");

    height: 30%;

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }

.banner2-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
  }

.banner3-text {
    text-align: center;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
  }

.example
 {
  text-align: center;
  background-color: lightgrey;
  width: 840px;
  margin: 20px solid;
  border: 15px solid white;
  padding: 50px solid;
}

.example2
 {
  text-align: center;
  background-color:#C19A6B;
  width: 880px;
  margin: 20px solid;
  border: 15px solid #C19A6B;
  padding: 50px solid;
 }

 .example3
 {
  text-align: center;
  background-color:black;
  width: 915px;
  margin: 20px solid;
  border: 15px solid black;
  padding: 50px solid;
 }

 .example4
 {
  display: inline-block;
  background-color: white;
  width: 1500px;
  margin: 20px;
  border: 15px solid #C19A6B;
  padding: 100px;
}
